<!-- Exibe os 2 componentes sempre 

<app-dashboard></app-dashboard>
<app-transactions-list></app-transactions-list>

 -->

 <!-- Exibe os componentes 1 de cada vez com o click no botão  -->
<div class="content">
<!-- 
    @switch (pageActive | async ) {  Asyncpipe para desinscrever sem precisar de takeUntilDestroyed e subscribe. Se precisar manipular erro use subscribe--> 
    @switch (pageActive) {
        @case (pagesEnum.DASHBOARD){
            <app-dashboard></app-dashboard>
        }
        @case (pagesEnum.TRANSACTIONS){
            <app-transactions></app-transactions>
        }
        @case (pagesEnum.CREDIT){
            <app-credit></app-credit>
        }
        @case (pagesEnum.TRANSFERS){
            <app-transfers></app-transfers>
    }
}
</div>