.header{
    display: flex;
    height: 56px;
    background: var(--bg-primary-color);
    color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}