<div class="page-wrap">
  <div class="page-bar">
    <h3 class="page-title">Transferência</h3>
    <p>Envie dinheiro para outra conta</p>
  </div>
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="txn-form">
      <div class="txn-grid">
        <!-- Data da transferência -->
        <mat-form-field appearance="outline">
          <mat-label>Data da transferência</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" />
          <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- Conta Destino -->
        <mat-form-field appearance="outline">
          <mat-label>Conta Destino</mat-label>
          <input matInput placeholder="12345-6" formControlName="account" />
        </mat-form-field>

        <!-- Valor -->
        <mat-form-field appearance="outline">
          <mat-label>Valor</mat-label>
          <input matInput placeholder="R$ 0,00" formControlName="amount" />
        </mat-form-field>

        <!-- Descrição -->
        <mat-form-field appearance="outline">
          <mat-label>Descrição</mat-label>
          <input
            matInput
            placeholder="Ex: Pagamento de aluguel"
            formControlName="description"
          />
        </mat-form-field>

        <!-- Tipo de transação -->
        <mat-form-field appearance="outline" class="half">
          <mat-label>Tipo de transação</mat-label>
          <mat-select formControlName="type">
            <mat-option [value]="transactionTypesEnum.TRANSFER">Transferência</mat-option>
          </mat-select>
        </mat-form-field>

        <button matFab extended>
          <mat-icon>send</mat-icon>
          Transferir
        </button>
      </div>
    </form>
  </div>
</div>
