<div class="login-container">
  <div class="login-content">
    <h1>Login</h1>
    <div class="login-form">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label for="email">Email:</mat-label>
          <input matInput formControlName="email" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label for="password">Password:</mat-label>
          <input matInput formControlName="password" required />

        </mat-form-field>
        <mat-error>{{ errorMessage() }}</mat-error>

        <button type="submit" class="btn btn-primary">Entrar</button>
      </form>
    </div>
  </div>
</div>
