<h3>Transações</h3>

<div class="p-3">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Descrição</th>
        <th scope="col">Valor</th>
        <th scope="col">Tipo</th>
      </tr>
    </thead>
    <tbody>
      @for (item of transactions; track $index) {
        <tr>
          <td>{{item.date | date : 'dd/MM/YYYY'}}</td>
          <td>{{item.description}}</td>
          <td [class]="item.amount | negativeValues">
            {{item.amount | currency}}
          </td>
          <td>{{item.type}}</td>
        </tr>
      }
    </tbody>
  </table>
</div>