.sidebar{
  display:flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 56px);
  padding: 15px;
  background: var(--primary-color);

}

button {
  width: 105px;
  padding:10px;
  margin: 4px 2px; 
}
