h3{
    color: var(--bg-primary-color)
}

.cards-container-full{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
    padding-top: 15px;
}

.cards-full{
    color: var(--primary-color);
    background-color: var(--bg-primary-color);    

}

.cards-container{
    
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
    padding-top: 5px;

}

.cards{
    margin:15px;
    
}
