<!-- {{address?.cep}}
{{address?.complemento}}
{{address?.estado}}
{{address?.localidade}}
{{address?.logradouro}}
{{address?.regiao}}
{{address?.uf}} -->

<h3>Olá, {{ acount?.name }}</h3>

<div class="cards-container-full">
  <mat-card class="cards-full" appearance="raised">
    <mat-card-content>
      <p>Saldo disponível</p>
      <p>
        {{ acount?.balance | currency : "BRL" }}
      </p>
      <div class="cards-container">
        <p>Agência 0001</p>
        <p>Conta 123456-7</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="cards-container">
  <mat-card class="cards" appearance="outlined">
      <mat-card-content> Receitas 
        <p>{{this.totalReceita | currency }}</p>
      </mat-card-content>
  </mat-card>

  <mat-card class="cards" appearance="outlined">
    <mat-card-content> Despesas 
      <p>{{this.totalDespesa | currency }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="cards" appearance="outlined">
    <mat-card-content> Saldo do período 
      <p>{{this.saldoPeriodo | currency }}</p>
    </mat-card-content>
  </mat-card>
</div>
