<section class="loan">
  <header class="loan__header">
    <h3 class="page-title">Simulador de Empréstimo</h3>
    <div class="balance">
      <span>Saldo atual:</span>
      <strong>{{
       account()?.balance | currency
      }}</strong>
      <span>Limite atual:</span>
      <strong>{{loanLimit()}}</strong>
    </div>
  </header>

  <button type="button" class="btn btn-primary" #botaoSimular>Desejo fazer uma simulação</button>

  @defer(on interaction (botaoSimular)){
    <app-loan-simulator></app-loan-simulator>
  }

  </section>
